& when (@media-common = true) {
  .oh-top-wrapper {
    text-align: center;
    padding: 6px 0;
    background: #000;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    position: relative;
    z-index: 10;

    .slick-initialized {
      z-index: 9;
      padding: 0 4.5rem;
    }

    .slick-track {
      display: flex;
      align-items: center;
    }

    .close {
      position: absolute;
      right: 20px;
      top: 20%;
      font-size: 1.3rem;
      font-weight: bold;
      cursor: pointer;
      z-index: 11;
      @media (max-width: @screen__xs) {
        right: 5px;
      }
    }

    .items {
      @media (max-width: @screen__m) {
        padding: 0 2.5rem;
      }

      .item {
        display: none;

        a {
          cursor: pointer;
          text-decoration: underline;
          color: #fff;
        }
      }
    }

    @media (max-width: @screen__m) {
      font-size: 12px;
    }

    &.category-page,
    &.product-page {
      background: transparent;
      color: #000;
      border-bottom: 1px solid #e1e1e1;

      @media (max-width: @screen__l) {
        height: 50px;
        line-height: 23px;
        font-size: 1.4rem;
        margin: 0 10px;
        text-align: center;
      }
    }
  }

  .top-container.category-page,
  .top-container.product-page {
    max-width: 100%;
    padding: 0;
  }
}
