<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="OH_TopHeaderAlert::title"
             title="Pre Header Alert"
             parent="OH_Core::oh"
             module="OH_TopHeaderAlert"
             sortOrder="40"
             resource="OH_TopHeaderAlert::settings"
        />

        <add id="OH_TopHeaderAlert::settings"
             title="Settings"
             module="OH_TopHeaderAlert"
             sortOrder="10"
             parent="OH_TopHeaderAlert::title"
             action="adminhtml/system_config/edit/section/top_banner/"
             resource="OH_TopHeaderAlert::settings"
        />
    </menu>
</config>
