<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">

    <system>
        <section id="top_banner" translate="label" sortOrder="20"
                 showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Pre header alert</label>
            <tab>oh_core</tab>
            <resource>OH_TopHeaderAlert::settings</resource>
            <group id="settings" translate="label"
                   showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Settings</label>
                <field id="enabled" translate="label comment" type="select"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <comment>Enable top banner</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="elements" translate="label" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Text</label>
                    <frontend_model>OH\TopHeaderAlert\Block\Adminhtml\Form\Field\Text</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="background_color" translate="label comment" type="text"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Background color</label>
                    <frontend_model>OH\Core\Block\Adminhtml\System\Config\Colorpicker</frontend_model>
                </field>
                <field id="text_color" translate="label comment" type="text"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Text color</label>
                    <frontend_model>OH\Core\Block\Adminhtml\System\Config\Colorpicker</frontend_model>
                </field>
            </group>
        </section>
    </system>
</config>
